header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #363231;
    height: 250px;
}
.portrait-dorian{
    padding: 10px;
    border-radius: 100px;
    width: auto;
    height: auto;
}
.liste-header{

    list-style: none;
    text-align: center;
    font-size: 33px;
    line-height: 48px;
    height: 48px;
}